doctype html
html
  head
    title GetRealGebra
    meta(charset="utf-8")
    script(src='/js/getreal.min.js')
    script(src='/js/script.min.js')
    link(rel="stylesheet", type="text/css", href="css/style.css")

  body
    header
      h1 GetRealGebra<sup>Beta</sup>
    main
      include example_relations/all
      include query
      include quicktips
    include footer