table.relation.expendable
  caption Ausleihe
  thead
    tr
      th LSNR
      th ISBN
      th EXPNR
      th Rueckgabedatum
  tbody
    tr
      td 6427
      td 3-8274-0175-5
      td 106790683
      td 2013-02-10
    tr
      td 6427
      td 978-3-86894-012-1
      td 109074010
      td 2013-02-10
    tr
      td 6427
      td 3-8274-1488-1
      td 108149368
      td 2013-02-10
    tr
      td 6428
      td 3-8274-1488-1
      td 108149368
      td 2013-02-10
    tr
      td 6429
      td 978-0-07-352332-3
      td 109278647
      td 2013-02-10
    tr
      td 6430
      td 3-486-27210-1
      td 109268352
      td 2013-02-10
    tr
      td 6430
      td 3-8274-1488-1
      td 108149368
      td 2013-02-10
    tr
      td 6430
      td 978-3-86894-012-1
      td 109074010
      td 2013-02-10
    tr
      td 6430
      td 978-0-07-352332-3
      td 109258223
      td 2013-02-10
    tr
      td 6430
      td 3-486-27210-1
      td 107901251
      td 2013-02-10
    tr
      td 6434
      td 3-8274-1488-1
      td 108149368
      td 2013-02-10
    tr
      td 6440
      td 3-486-27210-1
      td 109268352
      td 2013-02-10
    tr
      td 6440
      td 978-0-07-352332-3
      td 109278647
      td 2013-02-10
    tr
      td 6440
      td 978-0-07-352332-3
      td 109258223
      td 2013-02-10