table.relation.expendable
  caption Fachbereich
  thead
    tr
      th FBNR
      th FBName
      th Dekan
  tr
    td FB 9
    td Wirtschaftswissenschaften
    td 4711
  tr
    td FB 5
    td Informatik
    td 2223
