table.relation.expendable
  caption Professor
  thead
    tr
      th PNR
      th PName
      th FBNR
      th Fachgebiet
  tr
    td 1234
    td Härder
    td FB 5
    td Datenbanksysteme
  tr
    td 5678
    td Wedekind
    td FB 9
    td Informationssysteme
  tr
    td 4711
    td Müller
    td FB 9
    td Operations Research
  tr
    td 6780
    td Nehmer
    td FB 5
    td Betriebssysteme
  tr
    td 2223
    td Richter
    td FB 5
    td Expertensysteme